/.metadata/

*.fdt

*.fnm

*.frq

*.gen

*.fdx

\.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0\.nrm

\.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0\.prx

\.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0\.tii

\.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0\.tis

\.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/segments_1

\.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/write\.lock

\.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_1\.nrm

\.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_1\.prx

\.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_1\.tii

\.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_1\.tis

\.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/segments_2
